body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
}

p {
    color: white;
    width: 100%;
}

.donation {
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 70px 70px;

}

.donatebtn {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
}