body {
    font-family: 'Poppins', sans-serif;
}

.donation {
    color: white;
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 70px 70px;
    margin-bottom: 40px;

}

.donatebtn {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);

}

.dnttoday {
    text-align: center;
    margin-bottom: 70px;
}

.taka {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(245, 241, 241);
    padding: 40px 40px;
    border-radius: 10px;
    margin: 15px;
}

.taka:hover {
    background-color: aqua;
    padding: 60px;
    transition: all 1s;

}

.other {
    text-align: center;
    color: grey;
    border-bottom: 2px solid grey;
    margin-bottom: 40px;

}

.dntplan {
    text-align: center;
    margin-bottom: 80px;
}

.Fullplan {
    display: flex;
    margin-bottom: 100px;
}

.plan {
    width: 28%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#planA {
    background-color: aqua;
}

#planB {
    background-color: aquamarine;
}

#planC {
    background-color: bisque;
}

.livedepends {
    display: flex;
    margin-bottom: 100px;
}

.lives {
    text-align: left;
    width: 50%;
    margin-left: 100px;

}

.livedepends img {
    width: 50%;
    margin-left: 150px;
}

.Survive {
    display: flex;
    margin-bottom: 150px;
}

.Survive img {
    width: 60%;
    margin-left: 150px;
    margin-right: 0px;
    border-radius: 20px;
}

.needus {
    text-align: left;
    margin-left: 0px;
    margin-right: 150px;
    width: 100%;
}

.color {
    color: orange
}

.first {
    width: 50%;
    padding: 2%;
}

.firstone {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.first img {
    width: 50%;
}

.linkbtn {
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
}

.update {
    text-align: center;
    margin-top: 150px;
}

.email {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: aqua;
    width: 20%;
    margin-left: 40%;
    margin-top: 70px;
}

.button {
    background-color: red;
}

.footer {
    margin-top: 150px;
    text-align: center;
    color: White;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer i {
    color: tomato;
    font-family: fantasy;
}