body {
    font-family: 'Poppins', sans-serif;
}

.donation {
    color: white;
    text-align: center;
    background-image: url(images/donation1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 70px 70px;
    margin-bottom: 40px;

}

.donatebtn {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);

}

.dnttoday {
    text-align: center;
    margin-bottom: 70px;
}

.taka {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(245, 241, 241);
    padding: 40px 40px;
    border-radius: 10px;
    margin: 15px;
}

.taka:hover {
    background-color: aqua;
    padding: 60px;
    transition: all 1s;

}

.other {
    text-align: center;
    color: grey;
    border-bottom: 2px solid grey;
    margin-bottom: 40px;

}

.dntplan {
    text-align: center;
    margin-bottom: 80px;
}

.Fullplan {
    display: flex;
    margin-bottom: 100px;
}

.plan {
    width: 28%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#planA {
    background-color: aqua;
}

#planB {
    background-color: aquamarine;
}

#planC {
    background-color: bisque;
}